::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000050;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(20, 13, 13, 0.699);
  }

body{
    background-image: url('sources/Frame-Height-small.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 1px;
    font-weight: 400;
}

.info{
    margin-top: 70px;
    margin-right: 250px ;
    text-align: start;
    position: relative;
    top: 80px;
    padding: 20px;
    height: 200px;
    color: rgb(255, 255, 255);
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 1px;
    font-weight: 400;

   
}

.manaInWallet img{
    height: 80px;
}

.manaCollected img{
    height: 80px;
}

.mintMain{
    margin-top: 70px;
    margin-left: 250px ;
    text-align: end;
    color: rgb(255, 255, 255);
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 1px;
    font-weight: 400;
    width: 100px;
    top: 80px;
    position: relative;
    padding: 20px; 
    /* background-color: aquamarine; */
    height: 200px;
    
}

.coins{
    padding-top: 10px;
    text-align: center;
}

.coins img{
    height: 35px;
}

.mint{
    width: 30px;
}

.mint p{
    text-align: right;
}

.mint img{
    height: 50px;
    width: 120px;
}

.mint .button{
    height: 40px;
    width: 120px;
}


.main{
    
    position: relative;
    top: 25px;
    justify-content: center;
    
}

.logo{
    height: 330px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%); 
    z-index: 1;
}

.sectionHeader{
    font-size: 27px;
    color: black;
}

#bigSection{
    width: 45%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    /* border: 1px solid black; */
    background-color: rgba(0, 0, 0, 0.342);
    -webkit-box-shadow: 10px 7px 16px 8px rgba(0,0,0,0.95); 
    box-shadow: 10px 7px 16px 8px rgba(0,0,0,0.95);
    
}

.UnstakedElfsTemporary, .UnstakedOrcsTemporary{
    justify-content: center;
    display: grid;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0);  
    width: auto;
    /* height: 156px; */
    height: 126px;
    overflow-y: auto !important;
    white-space: nowrap;
    grid-template-columns: repeat(auto-fit, minmax(110px, max-content)); 
}

.StakedElfsTemporary, .StakedOrcsTemporary{
    justify-content: center;
    display: grid;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0);  
    width: auto;
    /* height: 171px; */
    height: 141px;
    overflow-y: auto !important;
    white-space: nowrap;
    grid-template-columns: repeat(auto-fit, minmax(110px, max-content)); 
}



.timestampParagraph{
    text-align: center;
    margin: 0;
}

.rewardTokensAmountClass{
    text-align: center;
    margin: 0;
    padding: 0;
}

.nftStaked{
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    float: left;
    height: 130px;
    width: 110px;
    margin: 5px;
}

.nftUnstaked{
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    float: left;
    height: 116px;
    width: 110px;
    margin: 5px;
}

.nftStaked p{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 11px;
}

.nftUnstaked p{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 11px;
}



#idParagraph{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.nftStaked:hover{
    background-color: rgba(0, 0, 0, 0.555);
    cursor: pointer;
}

.nftUnstaked:hover{
    background-color: rgba(0, 0, 0, 0.555);
    cursor: pointer;
}

.selectedStaked{
    background-color: rgba(0, 0, 0, 0.453);
    color: white;
    float: left;
    height: 160px;
    width: 110px;
    margin: 5px;
}

.selectedStaked:hover{
    cursor: pointer;
}

.selectedStaked p{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 11px;
}

.selectedUnstaked{
    background-color: rgba(0, 0, 0, 0.453);
    color: white;
    float: left;
    height: 146px;
    width: 110px;
    margin: 5px;
}

.selectedUnstaked:hover{
    cursor: pointer;
}



.selectedUnstaked p{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 11px;
}



#NFTImage{
    height: 75px;
    width: auto;
    
}

.bigSectionButtons{
    margin: 15px;
}

.bigSectionButtons:hover{
    background-color: rgba(255, 255, 255, 0.205);
}

#amountMintDiv{
    padding-right: 6.8%;
}

.coinsButton{
    height: 45px;
    
}

.selectButton{
    height: 35px;
}